node_modules/
/.vscode/
/logs/
/archive/
/data/
/tmp/
/temp/

/.vscode/
!/.vscode/extensions.json

**/*.tsbuildinfo
build/
dist/
.cache/
.turbo/
.next/
tmp/

# Compiled TypeScript outputs
# **/*.d.ts
# **/*.d.ts.map
# **/*.js
# **/*.js.map
# !*.config.js
# !*.config.ts
# !**/eslint*.js
# !**/jest*.js

.env*
!.env.local
!.env*.example

.agents/
.claude/
.codex/
.github/agents/
.opencode/
skills-lock.json

/generated/prisma
